// Primary from old site
// $primary: #3E40A5;

// // new blue from branding doc is a lie 
// $primary: #21386A;

// Primary pulled from qm site

$primary: #092350;
$grey: rgb(167, 167, 167);

@import url('https://fonts.googleapis.com/css?family=Source Sans Pro');
@import "~bulma/bulma.sass";

// Assign font
$font-family: 'Source Sans Pro';
$family-sans-serif: 'Source Sans Pro';


// Make sure that page takes up whole vertical space
#gatsby-focus-wrapper {
    padding-top: 3.5rem; // Add padding to make sure navbar does not cover content
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

// Make sure main content is not wider than page
main.container {
    max-width: 2000px;
    width: 100%;
}

.blog-card-text {
    position: relative;
    max-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Card styling

// Blog cards
// Add a gradient to the bottom of the text
.blog-card-text::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(180deg, transparent 0, white 100%);
}

.card-footer.stick-to-bottom {
        position: absolute;
        bottom: 0;
    }

.card-image {
    width: 100%;
   
  }

// Table Cards
.table-card {
    margin-top: 0;
}

.table-card .gatsby-image-wrapper {
    width: 128px;
    height: 128px;
}

.navbar {
    // Add margin to logos
    .gatsby-image-wrapper {
        margin: 10px;
    }

    // Divide navbar items with a slash
    .navitem-divider {
        @extend .navbar-item;
        pointer-events: none;
        margin: 0;
        padding: 0;
        &::after {
            display: block;
            content: "/";   
        }
        // Last item should not have a slash
        &:last-child::after {
            display: none;
        }
        // Hide navbar divider on mobile 
        @media (max-width: $desktop) {  
            display: none;    
        }
    }
    
    // Colours for mobile menu
    .navbar-end {
        .navbar-item {
            color: $light;
            &:hover {
                background-color: $light;
                color: $primary;
            }
        }
    }
}

// Make sure that the white gap between navbar and hero is never visible (even when scrolling up)
section.hero::before {
    background-color: $primary;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

// CSS for carousel
.carousel {
    width: 100%;
    .carousel-inner {
        // add padding to the bottom to avoid cutoff of items
        padding-bottom: 20px;
        overflow-x: hidden;
    }

    .carousel-item {
        transition: width 2s;
    }

    .slide-helper {
        position: relative;
        left: -30%;
    }

    .column {
        transition: transform 1.5s;
    }

    .zero-width {
        width: 0;
    }

    .icon {
        width: 3.5rem;
        height: 3.5rem;
        position: absolute;
        top: calc(50% - 1.75rem);
        z-index: 10;
        i {
            font-size: 3rem;
        }
        &:last-of-type {
            right: 0;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

// Parallelogram headers
.parallelogram {
    padding: 0.5rem 3rem;
    // width: 80%;
    display: inline-block;
    // background: white;
    transform: skewX(-14deg);

    * {
        transform: skewX(14deg);
    }
}

.aboutText {
    padding: 30px 0 0 0;
    text-align: justify;
    text-justify: inter-character;
    // font-size: 1.5vw;
    width: 90%;
}
  
.section {
    padding: 3rem 3rem 3rem 3em;
}

.secondary {
    @extend .section;

    background-color: $grey;

}

.card-content {
    vertical-align: bottom;
    width: 100%;
}

.lowerPadding {
    padding: 0 0 5vw 0;
}

.row {
    width: 100%;
    margin-bottom: 2vw;
}

.newsContainer {
    width: 100%;
    margin-bottom: 2vw;
}